# Cornershop's Data Science Test

## Dev: Mateus Broilo
mateus.brilo90@gmail.com

* Objectives: Load Datasets and perform the correct merging processes among them.

# Summary

* Initials
    * Loading Libraries and Packages
    * Configurations
    * Global Variables
        
* Loading Datasets
    * order_products
    * orders
    * shoppers
    * storebranch
* Merging Datasets
    * Merge 1: mg1 $\to$ orders \& shoppers
    * Merge 2: mg2 $\to$ mg1 \& storebranch
    * Merge 3: mg3 $\to$ mg2 \& order_products
* Saving Datasets: Checkpoint 1
    * Full merged: mg3
* Splitting the dataset
    * Dataset to predict: Simulating the real world
        * The orders associated with missing total_minutes values
    * Dataset to Train and Test
        * The orders associated with non-missing total_minutes values
* Save Datasets: Checkpoint 2
    * To Predict
    * To Train and Test

# Initials
* Loading Libraries and Packages
* Configuration
* Global Variables

## Loading Libraries and Packages

In [1]:
# general
import warnings
import time
import gc

#data
import pandas as pd

In [2]:
ls ..\raw_data\

 O volume na unidade C nÃ£o tem nome.
 O NÃºmero de SÃ©rie do Volume Ã© 1210-43E2

 Pasta de C:\Users\mbroilo\Documents\Arbeit\Personal\projects\cornershop\raw_data

27/03/2022  08:03    <DIR>          .
27/03/2022  11:57    <DIR>          ..
27/03/2022  08:03        14.506.196 order_products.csv
27/03/2022  08:03         1.724.668 orders.csv
27/03/2022  08:03           250.704 shoppers.csv
27/03/2022  08:03            41.957 storebranch.csv
               4 arquivo(s)     16.523.525 bytes
               2 pasta(s)   147.813.888.000 bytes disponÃ­veis

## Configurations

In [3]:
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

## Global Variables

In [4]:
PATH_RAWDATA = "../raw_data/"
PATH_DATA = "../data/"
ORDER_PRODUCTS = "order_products.csv"
ORDERS = "orders.csv"
SHOPPERS = "shoppers.csv"
STOREBRANCH = "storebranch.csv"
DATE = time.strftime("%Y%m%d")

# Loading Datasets
* order_products
* orders
* shoppers
* storebranch

In [5]:
order_products = pd.read_csv(PATH_RAWDATA + ORDER_PRODUCTS, sep=',')
orders = pd.read_csv(PATH_RAWDATA + ORDERS, sep=',')
shopper = pd.read_csv(PATH_RAWDATA + SHOPPERS, sep=',')
storebranch = pd.read_csv(PATH_RAWDATA + STOREBRANCH, sep=',')

## order_products

In [6]:
print(order_products.shape)
order_products.head()

(198500, 4)

,order_id,product_id,quantity,buy_unit
0,47099653730fb1b76537fc10ad876255,c1244453d731c77416cb4766e3bd76cb,1.0,UN
1,689d8866915acf87e851c2591a23a82f,43cc2b100bec640fe563cd16f2db669f,1.0,KG
2,f26d16bf6f38c9e31d0be877f4013a9e,b8f880759d014134e272d881d49989a2,1.0,UN
3,161ccc896835ab41761b0e726becb6b1,dbc062b9bef805d27a6f4bea7edfe1f1,1.0,UN
4,4713deca10bb5db98fae150b52d61fc0,93a060f269bb569398921100f84c519a,2.0,UN

1. **order_id**: ID of the order
1. **product_id**: ID of the product
1. **quantity**: The quantity ordered of this product
1. **buy_unit**: The unit of the product (KG/UN)

## orders

In [7]:
print(orders.shape)
orders.head()

(10000, 8)

,order_id,lat,lng,promised_time,on_demand,shopper_id,store_branch_id,total_minutes
0,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264
1,6581174846221cb6c467348e87f57641,-33.440584,-70.556283,2019-10-19 01:00:00+00:00,False,195f9e9d84a4ba9033c4b6a756334d8b,45fbc6d3e05ebd93369ce542e8f2322d,57.060632
2,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN
3,7d2ed03fe4966083e74b12694b1669d8,-33.328075,-70.512659,2019-10-18 21:47:00+00:00,True,d0b3f6bf7e249e5ebb8d3129341773a2,f1748d6b0fd9d439f71450117eba2725,52.067742
4,b4b2682d77118155fe4716300ccf7f39,-33.403239,-70.564020,2019-10-19 20:00:00+00:00,False,5c5199ce02f7b77caa9c2590a39ad27d,1f0e3dad99908345f7439f8ffabdffc4,140.724822

1. **order_id**: ID of the order
1. **lat**: The latitude of the delivery location
1. **lng**: The longitude of the delivery location
1. **promised_time**: The delivery time promised to the user
1. **on_demand**: If true, the order was promised to be delivered in less than X minutes
1. **shopper_id**: ID representing the shopper completed the order.
1. **store_branch_id**: ID of the store branch
1. **total_minutes**: The total minutes it took to complete the order (label)

## shoppers

In [8]:
print(shopper.shape)
shopper.head()

(2864, 6)

,shopper_id,seniority,found_rate,picking_speed,accepted_rate,rating
0,1fc20b0bdf697ac13dd6a15cbd2fe60a,41dc7c9e385c4d2b6c1f7836973951bf,0.8606,1.94,1.00,4.87
1,e1c679ac73a69c01981fdd3c5ab8beda,6c90661e6d2c7579f5ce337c3391dbb9,0.8446,1.23,0.92,4.92
2,09d369c66ca86ebeffacb133410c5ee1,6c90661e6d2c7579f5ce337c3391dbb9,0.8559,1.56,1.00,4.88
3,db39866e62b95bb04ebb1e470f2d1347,50e13ee63f086c2fe84229348bc91b5b,NaN,2.41,NaN,NaN
4,8efbc238660053b19f00ca431144fdae,6c90661e6d2c7579f5ce337c3391dbb9,0.8770,1.31,0.92,4.88

1. **shopper_id**: ID of the shopper
1. **seniority**: The experience level of the shopper.
1. **found_rate**: Percentage of products found by shopper historical.
1. **picking_speed**: Historical picking speed, products pr minutes.
1. **accepted_rate**: Percentage of orders historically accepted by shopper
1. **rating**: client rating of shopper

## storebranch

In [9]:
print(storebranch.shape)
storebranch.head()

(476, 4)

,store_branch_id,store_id,lat,lng
0,aff1621254f7c1be92f64550478c56e6,92cc227532d17e56e07902b254dfad10,-33.422497,-70.609231
1,56352739f59643540a3a6e16985f62c7,0336dcbab05b9d5ad24f4333c7658a0e,-33.385484,-70.555579
2,7d04bbbe5494ae9d2f5a76aa1c00fa2f,9bf31c7ff062936a96d3c8bd1f8f2ff3,-33.416579,-70.565224
3,2b24d495052a8ce66358eb576b8912c8,c4ca4238a0b923820dcc509a6f75849b,-33.512578,-70.655952
4,5487315b1286f907165907aa8fc96619,d82c8d1619ad8176d665453cfb2e55f0,-33.347645,-70.542229

1. **store_branch_id**: ID of the store branch
1. **store**: ID representing the store
1. **lat**: Latitude of the branch location
1. **lng**: Longitude of the branch location

# Merging Datasets
* Merge 1: mg1 $\to$ orders \& shoppers
* Merge 2: mg2 $\to$ mg1 \& storebranch
* Merge 3: mg3 $\to$ mg2 \& order_products

## Merge 1: mg1 $\to$ orders \& shoppers
* **order_id**: primary key
* **shopper_id**: foreign key

In [10]:
mg1 =  orders.merge(
    shopper,
    how='left',
    left_on=['shopper_id'],
    right_on=['shopper_id'])

print(mg1.shape)
mg1.head()

(10000, 13)

,order_id,lat,lng,promised_time,on_demand,shopper_id,store_branch_id,total_minutes,seniority,found_rate,picking_speed,accepted_rate,rating
0,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.30,0.92,4.76
1,6581174846221cb6c467348e87f57641,-33.440584,-70.556283,2019-10-19 01:00:00+00:00,False,195f9e9d84a4ba9033c4b6a756334d8b,45fbc6d3e05ebd93369ce542e8f2322d,57.060632,41dc7c9e385c4d2b6c1f7836973951bf,0.7610,2.54,0.92,4.96
2,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92
3,7d2ed03fe4966083e74b12694b1669d8,-33.328075,-70.512659,2019-10-18 21:47:00+00:00,True,d0b3f6bf7e249e5ebb8d3129341773a2,f1748d6b0fd9d439f71450117eba2725,52.067742,41dc7c9e385c4d2b6c1f7836973951bf,0.8776,2.80,0.96,4.76
4,b4b2682d77118155fe4716300ccf7f39,-33.403239,-70.564020,2019-10-19 20:00:00+00:00,False,5c5199ce02f7b77caa9c2590a39ad27d,1f0e3dad99908345f7439f8ffabdffc4,140.724822,50e13ee63f086c2fe84229348bc91b5b,0.7838,2.40,0.96,4.96

## Merge 2: mg2 $\to$ mg1 \& storebranch
* **order_id**: primary key
* **store_branch_id**: foreign key

In [11]:
mg2 = mg1.merge(
    storebranch,
    how='left',
    left_on=['store_branch_id'],
    right_on=['store_branch_id'])

mg2.rename({
    'lat_x':'lat_order'
    ,'lng_x':'lng_order'
    ,'lat_y':'lat_storebranch'
    ,'lng_y':'lng_storebranch'
}, axis=1, inplace=True)

print(mg2.shape)
mg2.head()

(10000, 16)

,order_id,lat_order,lng_order,promised_time,on_demand,shopper_id,store_branch_id,total_minutes,seniority,found_rate,picking_speed,accepted_rate,rating,store_id,lat_storebranch,lng_storebranch
0,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.30,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.485280,-70.579250
1,6581174846221cb6c467348e87f57641,-33.440584,-70.556283,2019-10-19 01:00:00+00:00,False,195f9e9d84a4ba9033c4b6a756334d8b,45fbc6d3e05ebd93369ce542e8f2322d,57.060632,41dc7c9e385c4d2b6c1f7836973951bf,0.7610,2.54,0.92,4.96,c4ca4238a0b923820dcc509a6f75849b,-33.441246,-70.535450
2,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92,c4ca4238a0b923820dcc509a6f75849b,-33.008213,-71.545615
3,7d2ed03fe4966083e74b12694b1669d8,-33.328075,-70.512659,2019-10-18 21:47:00+00:00,True,d0b3f6bf7e249e5ebb8d3129341773a2,f1748d6b0fd9d439f71450117eba2725,52.067742,41dc7c9e385c4d2b6c1f7836973951bf,0.8776,2.80,0.96,4.76,f718499c1c8cef6730f9fd03c8125cab,-33.355258,-70.537787
4,b4b2682d77118155fe4716300ccf7f39,-33.403239,-70.564020,2019-10-19 20:00:00+00:00,False,5c5199ce02f7b77caa9c2590a39ad27d,1f0e3dad99908345f7439f8ffabdffc4,140.724822,50e13ee63f086c2fe84229348bc91b5b,0.7838,2.40,0.96,4.96,c4ca4238a0b923820dcc509a6f75849b,-33.386547,-70.568075

## Merge 3: mg3 $\to$ mg2 \& order_products
* **order_id**: primary key
* **order_id**: foreign key

In [12]:
mg3 = mg2.merge(
    order_products,
    how='left',
    left_on=['order_id'],
    right_on=['order_id'])

print(mg3.shape)
mg3.head()

(198522, 19)

,order_id,lat_order,lng_order,promised_time,on_demand,shopper_id,store_branch_id,total_minutes,seniority,found_rate,picking_speed,accepted_rate,rating,store_id,lat_storebranch,lng_storebranch,product_id,quantity,buy_unit
0,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,fb3336fca8851437f980e83045e75749,0.581,KG
1,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,dab05166de7d42c526f5627acad97902,1.000,UN
2,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,c49f0bd639bcbee3c331abdb48b653da,1.000,UN
3,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,16984fbb57316494a14543ad6d70a2e8,1.000,UN
4,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,fbfb98804142023129c9475f72db5b08,1.000,UN

**Notice that:** 
* There are order_id in orders.csv that aren't in order_products.csv
    1. Therefore, to take into account all order_id, *i.e* all buying/deliver orders the correct join must be a left one.
* The four datasets were reduced to only one, *a.k.a.* mg3

# Saving Datasets: Checkpoint 1
* Full merged: mg3

## Full merged: mg3

In [13]:
mg3.to_csv(PATH_DATA + DATE + '_' + 'merged_full.csv',
           sep=',',
           index=False)

# Splitting the dataset
* Dataset to predict: Simulating the real world
    * The orders associated with missing total_minutes values
* Dataset to Train and Test
    * The orders associated with non-missing total_minutes values

**Remember that:** The rows not containing a total_minutes value should be set aside.

## Dataset to predict: Simulating the real world

### The orders associated with missing total_minutes values

In [14]:
df_to_predict = mg3[mg3.total_minutes.isnull()==True]
print(df_to_predict.shape)
df_to_predict.head()

(40197, 19)

,order_id,lat_order,lng_order,promised_time,on_demand,shopper_id,store_branch_id,total_minutes,seniority,found_rate,picking_speed,accepted_rate,rating,store_id,lat_storebranch,lng_storebranch,product_id,quantity,buy_unit
24,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92,c4ca4238a0b923820dcc509a6f75849b,-33.008213,-71.545615,d2a7c010a3c78a3199cd79623a4be51e,5.0,UN
25,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92,c4ca4238a0b923820dcc509a6f75849b,-33.008213,-71.545615,6d416af51a52cc688f4898eb199d49bc,5.0,UN
26,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92,c4ca4238a0b923820dcc509a6f75849b,-33.008213,-71.545615,81cc6dc9a2924e1657015db4bfb2f340,1.0,UN
27,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92,c4ca4238a0b923820dcc509a6f75849b,-33.008213,-71.545615,d0fd09285ad305f0513c784e1774f05c,2.0,UN
28,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92,c4ca4238a0b923820dcc509a6f75849b,-33.008213,-71.545615,e89201074287fe0f9d85b00a48361762,5.0,UN

## Dataset to train and test

### The orders associated with non-missing total_minutes values

In [15]:
df_tt = mg3[~mg3.total_minutes.isnull()==True]
print(df_tt.shape)
df_tt.head()

(158325, 19)

,order_id,lat_order,lng_order,promised_time,on_demand,shopper_id,store_branch_id,total_minutes,seniority,found_rate,picking_speed,accepted_rate,rating,store_id,lat_storebranch,lng_storebranch,product_id,quantity,buy_unit
0,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,fb3336fca8851437f980e83045e75749,0.581,KG
1,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,dab05166de7d42c526f5627acad97902,1.000,UN
2,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,c49f0bd639bcbee3c331abdb48b653da,1.000,UN
3,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,16984fbb57316494a14543ad6d70a2e8,1.000,UN
4,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264,6c90661e6d2c7579f5ce337c3391dbb9,0.9024,1.3,0.92,4.76,c4ca4238a0b923820dcc509a6f75849b,-33.48528,-70.57925,fbfb98804142023129c9475f72db5b08,1.000,UN

# Save Datasets: Checkpoint 2
* To Predict
* To Train and Test

## To Predict

In [16]:
df_to_predict.to_csv(PATH_DATA + DATE + '_' + 'merged_predict.csv',
                                 sep=',',
                                 index=False)

## To Train and Test

In [18]:
df_tt.to_csv(PATH_DATA + DATE + '_' + 'merged_train_test.csv',
              sep=',',
              index=False)

**Conclusion:** In this first part
1. The four datasets were loaded
1. It was performed the left joins in the datasets associated with the macro view of the orders
1. It was also performed a full join of all datasets
1. The datasets were splitted in the correspondingly ones reserved to EDA, analytical analysis, preprocess and feature engineering, and that will be used to train and test the model in a further step.
1. Moreover, it was set aside the rows not containing a total_minutes_values
1. All rules and decisions taken through out the case study will be applied in these datasets "to predict". However, respecting "the normalization" of the "test and train".